@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@Model.Name
@Model.DateAdded
@Model.Genre.Name
@Model.NumberInStock
@Model.ReleaseDate


